@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Reddit+Mono:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(28, 34, 61);
    height: 165px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_links{
    width: 40%;
    height: 100%;
}

.header_links ul{
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
#searchContainer {
    width: 33.33%; /* 1/3 do header */
    display: flex;
    align-items: center;
    position: relative; /* Para posicionamento absoluto do ícone */
}

#searchContainer input[type="text"] {
    width: calc(100% - 30px); /* Ajustado para acomodar o ícone de busca */
    height: 43px; /* Ajustado conforme o seu estilo */
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid transparent; /* Ajustado conforme o seu estilo */
    border-radius: 20px; /* Ajustado conforme o seu estilo */
    font-size: 16px;
    outline: none;
}

#icon_busca {
    color: black;
    font-size: 22px;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer; /* Adicionado para indicar que é clicável */
}

#suggestions {
    position: absolute;
    top: 110%; /* Coloca a caixa de sugestões abaixo da barra de pesquisa */
    left: 0;
    width: 90%; /* Mesma largura que a barra de pesquisa */
    background-color: #ffffff; /* Cor de fundo */
    border-radius: 20px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    z-index: 1;
    cursor: pointer;
    padding: 10px; /* Espaçamento interno */
    overflow-y: auto; /* Adiciona scroll se necessário */
    display: none; /* Inicialmente oculto */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Transições suaves */
}

.suggestion{
    padding: 8px 12px; /* Espaçamento interno para cada sugestão */
    font-size: 16px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    display: grid;
    grid-template-columns: 10;
    place-items: center;
}
.suggestion #time{
    grid-column: 1;
}
.suggestion #nome{
    grid-column: 2;
}

.suggestion #jogo{
    grid-column: 10;
}
li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: black;
}

.header_links{
    width: 25%;
}
.header_links ul li{
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

.header_img{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_img img{
    transition: all 1s ease;
}

.header_img img:hover{
    scale: 1.1;
}

header input{
    padding-left: 17px;
}

li button{
    font-family: Roboto;
    font-weight: bold;
    font-size: 17px;
}

input::placeholder{
    color: rgb(0, 0, 0);
    font-family: Roboto;
}

header ul li{
    list-style: none;
}

.header_links li, button{
    border-radius: 20px;
    border: 2px solid transparent;
    outline: none;
    transition: all 1s ease;
    cursor: pointer;
}

.header_links button{
    padding: 10px;
    width: 100px;
}


.header_links button:hover{
    background-color: black;
    color: white;
}

.header_links li:hover, button:hover{
    scale: 1.1;
}

.container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.colegas{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.colegas img{
    border-radius: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobrenos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.objetivos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.integrantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
}

.integrantes h1{
    text-align: center;
    margin-bottom: 30px;
}

.objetivos h1{
    margin-bottom: 30px;
}

.sobrenos h1{
    margin-bottom: 30px;
}
footer{
    background-color: rgb(28, 34, 61);
    width: 100%;
    height: 200px;
    color: white;
}

footer p{
    text-align: center;
}

.footer_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 170px;
}

.footer_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_redes{
    display: flex;
    gap: 40px;
}

.footer_redes i{
    font-size: 40px;
    padding-top: 50px;
    transition: all 1s ease;
    cursor: pointer;
}

.footer_redes i:hover{
    scale: 1.2;
}

.footer_informacoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_informacoes a{
    color: white;
}

.footer_informacoes h4{
    cursor: pointer;
}

.footer_contatos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_contatos h4{
    display: flex;
    gap: 5px;
}

footer h2{
    padding-top: 20px;
}

@media screen and (max-width: 700px) {
    .header_img{
        grid-row: 1;
        grid-column: 1;
        width: 100%;
    }
    .header_links{
        grid-column: 2;
        grid-row: 1;
        width: 100%;
    }

    .header_links ul{
        gap: 10px;
    }

    #searchContainer{
        width: 370px;
        grid-column: span 3;
        grid-row: 2;
    }

    .header_img{
        width: 200px;
    }
    .header_links{
        width: 100px;
    } #searchContainer{
        width: 370px;
        grid-column: span 3;
        grid-row: 2;
    }

    .header_img{
        width: 200px;
    }
    .header_links{
        width: 100px;
    }

    header{
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 2;
        height: 200px;
    }

    header #searchInput{
        grid-row: 2;
        grid-column: span 2;
        width: 86%;
        margin-left: 15px;
    }

    header #icon_busca{
        display: none;
    }

    .colegas{
        flex-direction: column;
    }
    .footer_contatos, .footer_informacoes{
        display: none;
    }
}

@media screen and (min-width: 501px) and (max-width: 850px){
    .colegas{
        flex-direction: column;
    }
}