@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Reddit+Mono:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(28, 34, 61);
    height: 165px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_links{
    width: 40%;
    height: 100%;
}

.header_links ul{
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
header #icon_busca{
    color: black;
    font-size: 22px;
    position: absolute;
    left: 68%;
}

header input{
    width: 40%;
    height: 43px;
    outline: none;
    border-radius: 20px;
    border: 2px solid transparent;
}

a{
    text-decoration: none;
    color: black;
}

.header_links{
    width: 25%;
}
.header_links ul li{
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

.header_img{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_img img{
    transition: all 1s ease;
}

.header_img img:hover{
    scale: 1.1;
}

header input{
    padding-left: 17px;
}

li button{
    font-family: Roboto;
    font-weight: bold;
    font-size: 17px;
}

input::placeholder{
    color: rgb(0, 0, 0);
    font-family: Roboto;
}

.header_links li, button{
    border-radius: 20px;
    border: 2px solid transparent;
    outline: none;
    transition: all 1s ease;
    cursor: pointer;
}

.header_links button{
    padding: 10px;
    width: 100px;
}

.header_links button:hover{
    background-color: black;
    color: white;
}

.header_links li:hover, button:hover{
    scale: 1.1;
}

#descricao {
    color: rgb(14, 15, 59);
    text-align: center;
    margin-top: 5%;
    transition: all 1.5s ease;
    
}

/* Estilo para os campos de entrada */
input[id="nome"],
textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid rgb(14, 15, 59);
    border-radius: 5px;
    font-size: 14px;
    margin: 0 auto; 
    display: block; 
    margin-top: 10px;
}

/* Estilo para o botão */
#comentar {
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: #000000;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 8%;
    font-family: Roboto;
    font-weight: bold;
    font-size: 17px;
    border-radius: 20px;
    outline: none;
    transition: all 1s ease;
    cursor: pointer;
    padding: 10px;
    width: 100px;
}

/* Estilo para o botão quando hover */
#comentar:hover {
    background-color: rgb(0, 0, 0);
    scale: 1.1;
    color: white;
}

h1{
    text-align: center;
    margin-top: 30px;
}

/* Estilo para a área de comentários */
#comentario-do-usuario {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 10px auto;
}

footer{
    background-color: rgb(28, 34, 61);
    width: 100%;
    height: 200px;
    color: white;
}

footer p{
    text-align: center;
}

.footer_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 170px;
}

.footer_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_redes{
    display: flex;
    gap: 40px;
}

.footer_redes i{
    font-size: 40px;
    padding-top: 50px;
    transition: all 1s ease;
    cursor: pointer;
}

.footer_redes i:hover{
    scale: 1.2;
}

.footer_informacoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_informacoes a{
    color: white;
}

.footer_informacoes h4{
    cursor: pointer;
}

.footer_contatos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_contatos h4{
    display: flex;
    gap: 5px;
}

footer h2{
    padding-top: 20px;
}